<!DOCTYPE HTML>
<html>
	<head>
		<title><%= title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body class="is-preload">
		<header id="header">
			<div class="inner">
				<a href="#" class="image avatar"><img src="<%= avatar %>" alt="" /></a>
        <h1><strong><%= title %></strong></h1>
        <p><%= tags[0] %><br /><%= tags[1] %><br /><%= tags[2] %></p>
        <div class="inner">
          <ul class="icons">
            <% for (var key in social) { %>
              <li><a href="<%= social[key].link %>" class="icon fa-<%= social[key].icon %>"><span class="label"><%= social[key].name %></span></a></li>
            <% } %>
          </ul>
          <ul class="copyright">
            <li><i class="icon fa-code" aria-hidden="true"></i> with <i class="icon fa-heart" aria-hidden="true"></i> by <%= title %>  &copy; <span id="year"></span></li>
          </ul>
        </div>
			</div>
		</header>

		<div id="main">
			<section id="one">
				<header class="major">
				<h2>{ <span id="welcome"></span> }</h2>
						<p><%= welcome %> </p>
    			</header>
        </section>
        <section id="two">
					<h2><span id="github"></span></h2>
					<div class="row">
            <article class="col-4 col-12-xsmall">
              <h2>Weekly</h2>
              <% if (commits) { %>
                <p class="contributions"><%= commits.week %></p>
              <% } else { %>
                <p>Unable to load</p>
              <% } %>
            </article>
            <article class="col-4 col-12-xsmall">
              <h2>Monthly</h2>
              <% if (commits) { %>
                <p class="contributions"><%= commits.month %></p>
              <% } else { %>
                <p>Unable to load</p>
              <% } %>
            </article>
            <article class="col-4 col-12-xsmall">
              <h2>Yearly</h2>
              <% if (commits) { %>
                <p class="contributions"><%= commits.year %></p>
              <% } else { %>
                <p>Unable to load</p>
              <% } %>
            </article>
          </div>
				</section>
				<section id="three">
					<h2><span id="projects"></span></h2>
					<div class="row">
          <% for (var key in projects) { %>
            <article class="col-6 col-12-xsmall work-item">
							<a href="<%= projects[key].link %>">
                <img width="330" height="200" src="<%= projects[key].image %>" alt="">
              </a>
							<h3><%= projects[key].name %></h3>
            </article>
          <% } %>
          </div>
				</section>
		</div>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
      showText("#welcome", "Welcome", 0, 300);
      showText("#github", "Github Contribution Activity", 0, 100);
      showText("#projects", "Projects", 0, 300);
    });

    let showText = function (target, message, index, interval) {
      if (index < message.length) {
        document.querySelector(target).innerHTML = document.querySelector(target).innerHTML + message[index++];
        setTimeout(function () {
          showText(target, message, index, interval);
        },interval);
      }
    }

    document.getElementById('year').innerHTML = new Date().getFullYear()
    </script>
	</body>
</html>
